<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xedu.manage_course.dao.TeachplanMapper">
    <!--  定义查询结果,id与select中定义的相同  -->
    <resultMap id="teachplanMap" type="com.xedu.framework.domain.course.ext.TeachplanNode">
        <!--    第一级查询结果    -->
        <id property="id" column="one_id"></id>
        <result property="pname" column="one_name"></result>
        <collection property="children" ofType="com.xedu.framework.domain.course.ext.TeachplanNode">
            <!--    第二级查询结果    -->
            <id property="id" column="two_id"></id>
            <result property="pname" column="two_name"></result>
            <collection property="children" ofType="com.xedu.framework.domain.course.ext.TeachplanNode">
                <!--    第三级查询结果    -->
                <id property="id" column="three_id"></id>
                <result property="pname" column="three_name"></result>
            </collection>
        </collection>
    </resultMap>
    <!--  定义sql语句  -->
    <select id="selectList" parameterType="java.lang.String"
            resultMap="teachplanMap">
        select
            a.id one_id,
            a.pname one_name,
            b.id two_id,
            b.pname two_name,
            c.id three_id,
            c.pname three_name
        from teachplan a
            left join teachplan b
            on a.id = b.parentid
            left join teachplan c
            on b.id = c.parentid
        where a.parentid = '0'
            <if test="_parameter != null and _parameter != ''">
                and a.courseid = #{courseId}
            </if>
        order by a.orderby,b.orderby,c.orderby;
    </select>
</mapper>